<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="h-screen bg-primary2 text-gray-900">
    <div class="bg-primary1 skew-x-0 -skew-y-14 h-128 -translate-y-60"></div>
    <nav class="flex items-center border-b border-gray-600 fixed top-0 w-full py-2">
      <div class="container mx-auto flex items-center justify-between">
        <a class="text-4xl font-medium" href="home.html">Kohapp</a>
        <a role="button" class="ml-auto mr-6"><i class="fas fa-search text-2xl"></i></a>
        <button
          class="text-2xl"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-align-justify" aria-hidden="true"></i>
        </button>
      </div>
    </nav>
    <div class="container mx-auto -translate-y-96">
      <div class="text-center">
        <h1 class="text-3xl md:text-4xl font-normal md:font-medium">Kohapp</h1>
        <p class="mt-4">
          Supporting users to digitally create, donate, <br />
          collect and record donations.
        </p>
        <a
          role="button"
          href=""
          class="mt-12 flex items-center justify-between py-8 border-b border-gray-900 hover:text-gray-600 hover:border-gray-600"
        >
          <h5 class="text-xl font-medium">Give Donation</h5>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a
          role="button"
          href=""
          class="flex items-center justify-between py-8 border-b border-gray-900 hover:text-gray-600 hover:border-gray-600"
        >
          <h5 class="text-xl font-medium">Start Collection</h5>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a
          role="button"
          href=""
          class="flex items-center justify-between py-8 border-b border-gray-900 hover:text-gray-600 hover:border-gray-600"
        >
          <h5 class="text-xl font-medium">Give Donation</h5>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="fixed bottom-0 py-4 w-screen border-t border-gray-900">
      <div class="container mx-auto flex justify-between text-center">
        <a href="home.html" class="text-gray-600">
          <i class="fas fa-home mb-2 text-2xl"></i>
          <h6 class="h6">Home</h6>
        </a>
        <a href="event.html" class="text-gray-600">
          <i class="fas fa-location-dot mb-2 text-2xl"></i>
          <h6 class="h6">Events</h6>
        </a>
        <a href="collect.html" class="text-gray-600">
          <i class="fas fa-arrow-right-arrow-left mb-2 text-2xl"></i>
          <h6 class="h6">Collect</h6>
        </a>
        <a href="notification.html" class="text-gray-600 relative">
          <div
            class="absolute left-2/3 flex items-center justify-center top-0 -translate-y-1/2 -translate-x-1/2 text-white bg-primary1 text-dark rounded-full text-sm w-6 h-6"
          >
            4
          </div>
          <i class="fas fa-bell mb-2 text-2xl"></i>
          <h6 class="h6">Alerts</h6>
        </a>
      </div>
    </div>
  </body>
</html>
