{% macro pages() %}
<div class="box-bottom-navigation">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a href="home.html" class="navigation-item">
        <i class="fas fa-home mb-2 text-xl"></i>
        <h6 class="h6">Home</h6>
      </a>
      <a href="event.html" class="navigation-item">
        <i class="fas fa-location-dot mb-2 text-xl"></i>
        <h6 class="h6">Events</h6>
      </a>
      <a href="collect.html" class="navigation-item">
        <i class="fas fa-arrow-right-arrow-left mb-2 text-xl"></i>
        <h6 class="h6">Collect</h6>
      </a>
      <a href="notification.html" class="navigation-item position-relative">
        <div class="position-absolute start-50 ms-2 top-0 translate-middle bg-primary text-dark rounded-circle icon icon-md fs-7 lh-1">4</div>
        <i class="fas fa-bell mb-2 text-xl"></i>
        <h6 class="h6">Alerts</h6>
      </a>
    </div>
  </div>
</div>
{% endmacro %}
